:root {
  --background-color: #14120b;
  --main-color: #edecec;
  --primary-color: #9a9996;
  --card-background: #1b1913;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  color: var(--main-color);
  background-color: var(--background-color);
  font-family: "Carrois Gothic", sans-serif;
}

/* header part */

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cursor_logo {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: 10%;
}

#cursor_logo img {
  width: 22px;
}

#cursor_logo h1 {
  font-size: 16px;
}

#mid_part {
  width: 50%;
  margin-left: 20px;
}

#mid_part ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
}

#mid_part ul li a {
  font-size: 14px;
  margin-left: 2px;
  color: var(--main-color);
  text-decoration: none;
}

#mid_part ul li a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

#end_part {
  display: flex;
  gap: 15px;
  align-items: center;
  width: 20%;
}

#end_part a {
  color: var(--main-color);
  text-decoration: none;
  font-size: 14px;
}

#end_part a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

#end_part button {
  padding: 8px 15px;
  font-size: 14px;
  border: 0;
  border-radius: 20px;
}

#end_part .signIn {
  color: var(--main-color);
  box-shadow: 0 0 0 0.5px var(--main-color);
  background: transparent;
}

#end_part .download {
  color: var(--background-color);
  background-color: var(--main-color);
}

#end_part button:hover {
  cursor: pointer;
}

#end_part #download:hover {
  background-color: var(--primary-color);
}

/* main part */

/* hero section */

.hero_section {
  padding-top: 112px;
  padding-bottom: 68px;
}

.heading_section {
  width: 55%;
  margin-bottom: 50px;
}

.heading_section h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

.heading_section button {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 12px 22px;
  border-radius: 20px;
  border: 0;
}

.heading_section button:hover {
  cursor: pointer;
  background-color: var(--primary-color);
}

.heading_section button img {
  width: 15px;
}

.product_screenshot img {
  width: 100%;
  border-radius: 8px;
}

/* trusted by logos section */

.trusted_by_logos {
  padding-bottom: 34px;
}

.trusted_by_logos p {
  font-size: 14px;
  text-align: center;
}

.trusted_logos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.trusted_logos div {
  width: 140px;
  height: 110px;
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: var(--card-background);
  border-radius: 8px;
  border: 0;
}

.trusted_logos div img {
  width: 100%;
  height: 40px;
}
